<% if logged_in? %>
 <div id="main">
  <div class="row">
    <h1 class="col-6 mb-1">memo</h1>
    <div class = "col-6 mt-3 text-end">
      <%= render 'layouts/search' %>
    </div>
  </div>
  
    <%= render 'index' %>
 </div>

<% else %>
  <div class="p-3 p-sm-5 my-4">
    <div class="text-center text-dark">
      <h1 class="display-1">box</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-sm btn-dark' %>
    </div>
  </div>
<% end %>

<div id="new-modal" class="modal new-modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
  $('.display-1').on('click', () => {
    window.alert('CLICKED')
  })
}) 
  
</script>