<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0">編集</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
        
      </div>

      <div class="modal-body p-5 pt-0">
        <hr class="my-4">
        <%= render 'form', memo: @memo %>
      </div>
    </div>
  </div>
</div>

